.masonry {  /* Masonry container */ 
  column-count: 4;
  column-gap: 1em;
}
.item {  /* Masonry bricks or child elements */ 
  background-color: lightgoldenrodyellow;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.item img{ min-height: 100px; }