#div1 {
  background-color: red;
  width: 150px;
  height: 100px;
  padding: 20px;
  display:inline-block;
  margin:10px;
  
}
#div2 {
  background-color: blue;
  width: 150px;
  height: 100px;
  padding: 20px;
  display:inline-flex;
  margin:10px;
  
}